:root {
  --font: sans-serif, 
  --dark-teal: #3e7487,
  --steel: #363d40,
  --white: #fcfcfc,
}

body {
    font-family: var (--font);
    margin: 0;
  }

main {
    display: flex;
    background-color: blanchedalmond;
    color:#13293d
  }  

 /* Name and Navigation Menu */

.Name-and-Nav{
  display: flex;
  background-color: var (--steel);
}

#Name{
  justify-content: left;
  font-size: 16px;
  color: #13293d;
  background-color: var(--dark-teal);
  border-style: solid;
  border-color: var(--dark-teal);
  
}

#Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  float: right;
  text-decoration: underline;
  font-size: 14px;
  color: white;
  background-color: #13293d;
}

#Navigation ul a {

  float: center;
  display: inline;
  justify-content: space-between;
}


/* Software Engineer & Personal Photo */

.Software-Engineer {
  justify-content: right;
  font-size: 16px;
  color: var (--white);
  background-color: teal;
}

.Software-Engineer img {
  height: 200px;
  border-radius: 50%;
}

/* Left Menu Headers */

.About-Me .Work .Contact-Me {
height: 200px;
width: 200px;
float: left;
text-align: right;
padding-right: 10px;
border-right: solid 5px;
margin-right: 50px;

}

/* About Me Content */
.About-Me-Content {
  font: var (--font)
}

/* Work Content */

.Work-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  opacity: ;
  border-color: var (--dark-steel);
  width: 150px;
  height: 150px;
}

.Work-Content {

}

/* Contact Me Content  */
.Contact-Me-Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  float: right;
  text-decoration: underline;
  font-size: 14px;
  color: white;
  background-color: #13293d;
}

  