:root {
  --font: sans-serif, 
  --dark-teal: #3e7487,
  --steel: #363d40,
  --white: #fcfcfc,
}

body {
    font-family: var (--font);
    margin: 0;
    background-color: white;
  }

main {
    display: flex;
    background-color: blanchedalmond;
    color:#13293d
  }  

 /* Name and Navigation Menu */

.Name-and-Nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #163857;
  padding: 30px 0px 0px 0px;
}

#Name{
  font-size: 16px;
  color: white;
  background-color: teal;
  border-radius: 0px 20px 20px 0px;
  padding: 10px 100px 10px 20px 
}

#Navigation ul a:hover {
  color: white;
  transition: 0s;
  border-bottom: white 2px;
}

#Navigation ul a {
  float: center;
  display: inline-flex;
  justify-content: space-evenly;
  border-bottom: white 2px;
}


/* Software Engineer & Personal Photo */

.Software-Engineer {
  justify-content: right;
  font-size: 14px;
  color: white;
  background-color: teal;
}

.Software-Engineer img {
  height: 200px;
  border-radius: 0px 20px 20px 0px;
}

/* Left Menu Headers */

.About-Me .Work .Contact-Me {
font-size: 10px;
text-align: right;
}

/* About Me Content */
.About-Me-Content {
  font: 
}

.About-Me-Content .HELLOWORLD {
font-family: 'Courier New', Courier, monospace;

/* Work Content */

.Work-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  border-color: teal;
  width: 150px;
  height: 150px;
 }

.Container-Content {

}

.Container-Lable {
background-color: teal;
color: black;
font-size: 10px;
width: 40%;
}

/* Contact Me Content  */
.Contact-Me-Content {

}

#Contact-Me-Content ul a:hover {
  color: white;
  transition: 0s;
  border-bottom: white 2px;
}
  