:root {
  --font: Arial, Helvetica, sans-serif; 
  --dark-teal: #389999;
  --steel: #363d40;
  --white: #f7c5c5;
}

body {
    font-family: var(--font)
  }

/* Name and Navigation Menu */

/* Classes */
.Name-and-Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #163857;
  padding: 30px 0px 30px 0px;
  font-family: var(--font);
}

/* IDs */
#Name {
  font-size: 24px;
  color: white;
  background-color: var(--dark-teal);
  border-radius: 0px 10px 10px 0px;
  padding: 10px 80px 10px 20px;
  text-align: right;
}

#Navigation ul a:hover {
  color: teal;
  transition: 0s;
  border-bottom: white 2px;
}

#Navigation ul a {
  float: center;
  display: inline-flex;
  justify-content: space-evenly;
  border-bottom: white 2px;
  text-decoration: none;
  color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px 20px;
}


/* Software Engineer & Personal Photo */

.Software-Engineer {
  font-size: 14px;
  color: white;
  background-color:var(--dark-teal);
  height: 15vh;
  font-family: var(--font);
  padding-top: 15px;
}

.job-title {
  margin-left: 5vw;
  font-family: var(--font)
}


/* Left Side:  ABOUT ME , WORK, CONTACT ME */
.Side-Content {
  text-align: right;
  width: 30%;
  border-right: black solid 2px;
  font-family: var(--font);
  padding-right: 25px;
  padding-top: 25px;
  font-size: 18px;
}


/* About Me Content */
.About-Me-Container, .Work-Container, .Contact-Me-Container {
  background-color: rgb(209, 209, 209);
  display: flex;
  padding: 10px 0;
}

.About-Me-Content img {
  height: 250px;
  float:right;
  
}

.About-Me-Content {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  display:flex;
}

.description-me {
  padding: 26px;
}

.About-Me-Content .HELLOWORLD {
  font-family:'Courier New', Courier, monospace;
  font-size: 24px;
}

/* Work Content */

.Work-Content {
  display: flex;
  flex-direction: column;
  width: 70%;
}
 #Project-1 {
   margin: 30px;
 }

 #Project-1 img{
   width: 100%;
   height: auto;
 }

 #bottom {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

.Project-Content {
  position:relative;
}

.proj-container {
  min-width: 300px;
  min-height: 200px;
  margin: 30px;
}

.proj-container img {
  height: 100%;
  width: 100%;
}

.Container-Lable {
  background-color: var(--dark-teal);
  color: black;
  font-size: 10px;
  width: 30%;
  position:absolute;
  bottom:20px;
  left:20px;
  padding-right:20px;
  padding-left:20px;
  opacity: 85%;
}


/* Contact Me Content  */

#Contact-Me-Content ul a {
  float: right;
  display: inline-flex;
  justify-content: space-evenly;
  border-bottom: white 2px;
  text-decoration: none;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 20px;
}

#menu:hover {
  transition: 0s;
  border-bottom: 2px solid var(--dark-teal);
  color:var(--dark-teal);
}
  