body {
    font-family: sans-serif;
    margin: 0;
  }

 /* Top bar containing name and navigation menu */

#name-and-menu{
  display: flex;
  background-color: black;
}

.name{
  justify-content: left;
  font-size: 16px;
  color: #13293d;
  background-color: teal;
  border-style: solid;
  border-color: teal;
  
}

.top-nav{
  justify-content: right;
  text-decoration: underline;
  font-size: 12px;
  color: teal;
  background-color: #13293d;
  margin: 20px;
}

.top-nav ul{
  display: inline;
  justify-content: space-between;
}
.top-nav ul li a {
}
/* Next section containing photo background and job title */
#job-title-header {
  justify-content: right;
  font-size: 16px;
  color: #13293d;
  background-color: teal;
}

/* Left side of webpage */

#left-menu {
justify-self: start;
}

/* Right side of webpage with content */

main {
  display: flex;
  background-color: blanchedalmond;
  color:#13293d
}  

#about-me {

}

#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  opacity: ;
  border-color: cadetblue;

}

#contact-me

#resume
  